<div>
  <h1>Bestellungen</h1>
  @if(showSpinner){
  <div class="spinner"></div>
  <span>Daten werden geladen...</span>
  }

  <table>
    <tr>
      <th>Ticketinhaber</th>
      <th>Rechnungsinhaber</th>
      <th>Firma</th>
      <th>Straße</th>
      <th>Postleitzahl</th>
      <th>Ort</th>
      <th>Option</th>
    </tr>

    @for (data of apiService.orderList$ | async; track data.invoiceData) {
    <tr>
      <td>
        {{ data.personalData.firstName + " " + data.personalData.lastName }}
      </td>
      <td>
        {{ data.invoiceData.firstName + " " + data.invoiceData.lastName }}
      </td>
      <td>
        {{
          data.invoiceData.company.length > 0 ? data.invoiceData.company : ""
        }}
      </td>
      <td>{{ data.invoiceData.street }}</td>
      <td>{{ data.invoiceData.zipCode }}</td>
      <td>{{ data.invoiceData.city }}</td>
      <td>{{ data.upgrades | optionsPipe }}</td>
    </tr>
    }
  </table>
  @if(!showSpinner){
  <span
    >Bestellungen {{ apiService.pagingData.offset + 1 }} bis
    {{ apiService.pagingData.current }} von
    {{ apiService.pagingData.count }}</span
  >
  }

  <div>
    <button
      type="button"
      (click)="previousPage()"
      [disabled]="apiService.pagingData.offset === 0 || showSpinner"
    >
      vorherige Anzeigen
    </button>
    <button
      type="button"
      (click)="nextPage()"
      [disabled]="lastPage || showSpinner"
    >
      weitere Anzeigen
    </button>
  </div>
</div>
