<div>
  <h1>Bestellungen</h1>
  <table>
    <tr>
      <th>Ticketinhaber</th>
      <th>Rechnungsinhaber</th>
      <th>Firma</th>
      <th>Straße</th>
      <th>Postleitzahl</th>
      <th>Ort</th>
      <th>Option</th>
    </tr>

    @for (data of orderData$ | async; track data.invoiceData) {
    <tr>
      <td>
        {{ data.personalData.firstName + " " + data.personalData.lastName }}
      </td>
      <td>
        {{ data.invoiceData.firstName + " " + data.invoiceData.lastName }}
      </td>
      <td>
        {{
          data.invoiceData.company.length > 0 ? data.invoiceData.company : ""
        }}
      </td>
      <td>{{ data.invoiceData.street }}</td>
      <td>{{ data.invoiceData.zipCode }}</td>
      <td>{{ data.invoiceData.city }}</td>
      <td>{{ data.upgrades | optionsPipe }}</td>
    </tr>
    }

  </table>
</div>