<h2>Bestellprozess</h2>

<div class="wizard-content">
  @switch (actualStep) { @case (wizardSteps.PersonInfoWizardComponent) {
  <personal-info
    [data]="personalInfo"
    (nextStep)="setWizardStep(wizardSteps.InvoiceWizardComponent)"
    (switchStep)="setPersonalInfo($event)"
  ></personal-info>
  } @case (wizardSteps.InvoiceWizardComponent) {
  <invoice-info
    [data]="invoiceInfo"
    (switchStep)="setInvoiceInfo($event)"
    (prevStep)="setWizardStep(wizardSteps.PersonInfoWizardComponent)"
    (nextStep)="setWizardStep(wizardSteps.OverviewWizardComponent)"
  ></invoice-info>
  } @case (wizardSteps.OverviewWizardComponent) {
  <order-overview
    [personalData]="personalInfo"
    [invoiceData]="invoiceInfo"
    (prevStep)="setWizardStep(wizardSteps.InvoiceWizardComponent)"
    (nextStep)="submitData()"
  ></order-overview>
  } }
</div>
